body{
    background-color: blue;
}

#ball{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    border-radius: 50%;
    top: 0;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
   0%{top: 0;}
   50% {top: 200px}
}